@import '~/scss/variables.scss';

$breakpoint: 1200px;

.root {
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
}

.titleAndDescription {
  @media (min-width: $breakpoint) {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

.timeControls {
  flex: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;

  /**
    This is a hack because chartTimeControls contains margin settings.
  */
  > div {
    @media (min-width: $breakpoint) {
      margin: 0;
    }
  }
}

.selectorContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.rzwiButton {
  min-width: 15em;
  border: 1px solid lightgrey;
  padding: 0.5em;
  padding-right: 1.5em;
  text-align: left;
  background-color: white;
  background: url('/images/close.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 0.2em top 50%, 0 0;
}

.rzwiSelector {
  min-width: 15em;
  border-color: lightgrey;
  appearance: none;
  padding: 0.5em;
  padding-right: 1.5em;
  background: url('/images/chevron-down.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 0.2em top 50%, 0 0;
}

.legenda li {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.legendaMarker {
  height: 0.5em;
  width: 0.5em;
  margin-right: 0.5em;

  svg {
    height: 100%;
    width: 100%;
  }
}
