@import 'scss/variables.scss';

.aside {
  background: white;
  border-radius: $default-radius;
  padding: 1em;
  overflow: auto;
  margin-top: 2em;

  @media (max-width: 767px) {
    > div:first-child {
      border-bottom: 1px solid #eee;
      padding-top: 0;
      margin-bottom: 1em;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    align-items: center;

    > div:first-child {
      border-right: 1px solid #eee;
      padding-right: 2em;
      margin-right: 2em;
    }

    a {
      flex: 1 0 12em;
    }
  }
}

.headergroup {
  display: flex;
  align-items: center;
  svg {
    display: block;
    margin-right: 1em;
    flex: 0 0 auto;
  }
}

.header {
  font-size: 1.125em;
  font-weight: bold;
}

.link {
  color: $text-color-active;
  display: flex;
  align-items: center;
  margin-right: 1em;

  @media (max-width: 767px) {
    justify-content: center;
  }

  svg {
    display: block;
    margin-right: 1em;
    flex: 0 0 auto;
  }
}
