.container {
  background: white;
  padding-top: 5em;
  padding-bottom: 3em;

  p {
    font-size: 1.125em;
  }
}

.button {
  border: none;
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.maxwidth {
  max-width: 35em;
  margin: 0 auto;
}
