.faqList {
  dt {
    font-weight: bold;
  }
  dd {
    margin: 0;
    margin-bottom: 1em;
  }
}

.container {
  font-size: 1.125em;
  background: white;
  padding-top: 5em;
  padding-bottom: 3em;

  p {
    font-size: 1em;
  }

  h2:not(:first-child) {
    margin-top: 2em;
  }
}

.maxwidth {
  max-width: 39em;
  padding: 0 2em;
  margin: 0 auto;
  overflow: hidden;
}
