@import './variables.scss';

@font-face {
  font-family: 'RO Sans';
  font-weight: normal;
  font-style: normal;
  src: url('/webfonts/RO-SansWebText-Regular.woff2') format('woff2'),
    url('/webfonts/RO-SansWebText-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'RO Sans';
  font-weight: normal;
  font-style: italic;
  src: url('/webfonts/RO-SansWebText-Italic.woff2') format('woff2'),
    url('/webfonts/RO-SansWebText-Italic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'RO Sans';
  font-weight: bold;
  font-style: normal;
  src: url('/webfonts/RO-SansWebText-Bold.woff2') format('woff2'),
    url('/webfonts/RO-SansWebText-Bold.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'RO Sans', Calibri, sans-serif;
  color: $text-color;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

a {
  color: #01689b;
}

a:focus {
  outline: 2px dotted #01689b;
  outline-offset: 0;
}

button::-moz-focus-inner {
  border: 0;
}
