@import '~/scss/variables.scss';

.select-region-group {
  // this margin setting should not be here
  margin: 0 0 1rem;
  max-width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
