@import 'scss/variables.scss';

.root {
  /*
    @TODO These are not right here. The parent component should be responsible
    for the positioning.
  */
  margin: 1em 0;
  justify-content: center;

  /* Extra specificity to overrule radio-group rules */
  &.root {
    label {
      padding: 0.2em 1.5em;
      flex: 0 1 auto;
    }
  }
}
