@import 'scss/variables.scss';

.chloroplethContainer {
  position: relative;
  height: 400px;
  background: transparent;
}

.toolTip {
  position: absolute;
  border: 1px black solid;
  background-color: white;
  transform: none;
  padding: 0.5em;
  z-index: 1000;
}

.svgMap {
  display: block;
  background: transparent;

  path {
    pointer-events: all;
  }

  path:hover {
    stroke-width: 2;
    stroke: #fff;
    z-index: 1000;
  }

  .overlay {
    pointer-events: none;
    stroke: black;
    stroke-width: 1;
    fill: transparent;
  }

  .overlay:hover {
    stroke: black;
    stroke-width: 1;
    fill: transparent;
  }
}
