@import 'scss/variables.scss';

.chloroplethContainer {
  position: relative;
  height: 400px;
  background: transparent;
}

.toolTip {
  position: absolute;
  border: 1px black solid;
  background-color: white;
  transform: none;
  padding: 0.5em;
  z-index: 1000;
}

.svgMap {
  display: block;
  background: transparent;

  path:hover {
    stroke-width: 2;
    fill: #fff;
  }
}
