# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# misc
.DS_Store
.env
.env.*
.idea/
*.log
.vscode
tsconfig.tsbuildinfo

# CI/CD
/env
/public/json
.gitlab-ci.yml
exports

/*.code-workspace
/cypress/screenshots
/cypress/videos

.vercel

# Sanity backups
*.ndjson
