# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# misc
.DS_Store
.env
.env.*
.idea/
*.log
.vscode

# CI/CD
/env
/public/json
.gitlab-ci.yml
exports

/*.code-workspace
/cypress/screenshots
/cypress/videos

.vercel

# TODO rename the Sanity locale exports to en/nl.json and ignore those files instead
packages/app/src/locale/*_export.json
