@import 'scss/variables.scss';

.defaultTooltip {
  background-color: white;
  padding: 0.5em;
}

.chloroplethContainer {
  position: relative;
  height: 400px;
  background: transparent;
}

.svgMap {
  display: block;
  background: transparent;

  path {
    pointer-events: all;
    stroke: #01689b;
    stroke-width: 0.5;
  }

  path.selectedPath {
    stroke: #000000;
    stroke-width: 1.5;
    fill: none;
  }

  path.noData {
    pointer-events: all;
    fill: #fff;
  }

  path.noData:hover {
    pointer-events: all;
    fill: #62a0be;
  }

  path.faded {
    stroke: #c4c4c4;
  }

  path.overlay {
    pointer-events: none;
    stroke: #01689b;
    stroke-width: 0.5;
    fill: transparent;
  }

  path.hoverLayer {
    pointer-events: all;
    fill: none;
    stroke: transparent;
  }

  path.hoverLayer:hover {
    stroke: #000000;
    stroke-width: 1.5;
  }
}
