@import 'scss/variables.scss';

.tooltipBase {
  padding: 0;
  position: absolute;
  color: #666666;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: rgba(33, 33, 33, 0.2) 0px 1px 2px;
  line-height: 1em;
  pointer-events: none;
}

.chloroplethContainer {
  position: relative;
  height: 400px;
  background: transparent;
}

.chloroplethContainer.escalationMap {
  .svgMap {
    path {
      stroke: #595959;
    }

    path.overlay {
      stroke: #595959;
    }
  }
}

.svgMap {
  display: block;
  background: transparent;

  path {
    pointer-events: all;
    stroke: #01689b;
    stroke-width: 0.5;
  }

  path.selectedPath {
    stroke: #000000;
    stroke-width: 1.5;
    fill: none;
  }

  path.noData {
    pointer-events: all;
    fill: #fff;
  }

  path.noData:hover {
    pointer-events: all;
    fill: #62a0be;
  }

  path.faded {
    stroke: #c4c4c4;
  }

  path.overlay {
    pointer-events: none;
    stroke: #01689b;
    stroke-width: 0.5;
    fill: transparent;
  }

  path.hoverLayer {
    pointer-events: all;
    fill: none;
    stroke: transparent;
  }

  path.hoverLayer:hover {
    stroke: #000000;
    stroke-width: 1.5;
  }
}
