@import 'scss/variables.scss';

.dateReported {
  display: flex;
  align-items: center;
  color: $text-color-grey;

  p:first-of-type {
    margin: 0;
  }

  svg {
    width: 30px;
    height: auto;
    margin-right: 0.2rem;
    display: block;
  }
}
