@import 'scss/variables.scss';

.root {
  width: 100%;
  height: 5rem;

  svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    shape-rendering: crispEdges;
  }
}

.value {
  font-size: 1.25em;
  font-weight: bold;
  fill: $text-color;
}

.tick,
.criticalValue {
  fill: $text-color-grey;
}
