@import 'scss/variables.scss';

.root {
  width: 100%;
  height: 5rem;
  margin-top: $default-margin;
  margin-bottom: $default-margin;

  svg {
    shape-rendering: crispEdges;
    width: 100%;
    height: 100%;
  }
}

.value {
  font-size: 1.25em;
  font-weight: bold;
  color: $text-color;
}

.criticalValue {
  fill: $text-color-grey;
}

.tick {
  color: $text-color-grey;
  fill: currentColor;
}
