@import 'scss/variables.scss';

.titleWithIcon {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  h3,
  h2 {
    margin: 0;
  }

  h3 {
    font-size: 1em;
  }
}

.icon-small {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.icon-large {
  width: 3rem;
  height: 3rem;
  margin-right: $default-margin;
}

.titleWithIconIcon {
  flex: 0 0 auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;

  svg {
    fill: currentColor;
    color: $icon-color;
    width: 100%;
    object-fit: contain;
  }
}
