.legenda {
  padding-left: 0;
  margin-bottom: 1em;

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }

  .escalationInfo {
    margin-bottom: 1em;
  }

  h4 {
    margin-bottom: 1em;
  }
}

.escalationInfo {
  display: flex;
  flex-direction: row;

  .bubble {
    margin-right: 0.5em;
    display: flex;
    width: 3em;
    height: 3em;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }
}
