@import 'scss/variables.scss';

.select-radio-group {
  background: white;
  display: flex;

  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {
      background: $button-color;
      color: white;
    }

    &:focus + label {
      outline: 2px dotted #cc005a;
    }
  }

  label {
    flex: 1 1 auto;
    text-align: center;
    padding: 0.2em;
    border: 1px solid $button-color;
    border-width: 1px 0 1px 1px;
    color: $button-color;
    font-size: 14px;

    &:hover,
    &:focus {
      background-color: #cae1ed;
    }

    &:last-child {
      border-right-width: 1px;
    }

    @media (min-width: 700px) {
      font-size: 16px;
      padding: 0.2em 1.5em;
    }
  }
}
