@import 'scss/variables.scss';

.regio-grid {
  display: flex;
  flex-direction: column;
}

.map-container {
  position: relative;
  margin: $default-margin 0;

  @media screen and (min-width: 960px) {
    margin: $default-margin * 2 0;
  }
}

.safety-region-header {
  margin-top: 1.5rem;

  h2 {
    font-size: 1.42383rem;
  }

  p {
    margin: 0;
  }

  & + * {
    // last updated
    margin: 0 0 0.5rem 0;
  }
}

.select-region-legend {
  color: #000;
  margin: 1.5rem 0 0.5rem 0;

  & + * {
    margin-top: 0;
  }
}

.select-region-type {
  background: white;
  display: flex;
  margin: 0 0 1rem;
  max-width: 25rem;

  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {
      background: $button-color;
      color: white;
    }
  }

  label {
    flex: 1 1 auto;
    text-align: center;
    padding: 0.5rem 0;
    border: 1px solid $button-color;
    border-width: 1px 0 1px 1px;
    color: $button-color;

    &:last-child {
      border-right-width: 1px;
    }
  }
}

.select-safety-region {
  display: block;
  font-size: 1.42383rem;
  font-weight: bold;
  line-height: 1.38732;
  margin: 0 0 $default-margin 0;
  color: $text-color-grey;
}

@media screen and (min-width: 960px) {
  .regio-grid {
    flex-direction: row;
  }

  .panel-column {
    width: 33%;
    margin-top: 4.5em;
  }

  .map-column {
    width: 66%;
  }
}

.safety-region-data-loading {
  display: inline-block;
  color: $text-color-grey;
  margin-top: $default-margin;
  margin-bottom: $default-margin;

  svg {
    width: 1rem;
    height: auto;
    max-height: 1rem;
    position: relative;
    margin-right: $default-margin/2;
    top: 2px;
  }
}

.data-not-available {
  display: flex;
  align-items: center;
  color: $text-color-grey;
  margin: 1rem 0;

  p:first-of-type {
    margin: 0;
  }

  span {
    display: flex;
    align-items: center;
    min-width: 1.8rem;
    width: 1rem;
  }

  svg {
    width: 1rem;
  }
}
