@import 'scss/variables.scss';

.regio-grid {
  display: flex;
  flex-direction: column;
}

.map-container {
  position: relative;
  margin: $default-margin 0;

  @media screen and (min-width: 960px) {
    margin: $default-margin * 2 0;
  }
}

.safety-region-header {
  max-width: 13.75rem;

  @media screen and (min-width: 960px) {
    position: absolute;
    top: 0;
    left: 0;
  }

  h2 {
    font-size: 1.42383rem;
  }

  p {
    margin: 0;
  }
}

.select-safety-region {
  display: block;
  font-size: 1.42383rem;
  font-weight: bold;
  line-height: 1.38732;
  margin: 0 0 $default-margin 0;
  color: $text-color-grey;
}

@media screen and (min-width: 960px) {
  .regio-grid {
    flex-direction: row;
  }

  .panel-column {
    width: 33%;
  }

  .map-column {
    width: 66%;
  }
}

.safety-region-data-loading {
  display: inline-block;
  color: $text-color-grey;
  margin-top: $default-margin;
  margin-bottom: $default-margin;

  svg {
    width: 1rem;
    height: auto;
    max-height: 1rem;
    position: relative;
    margin-right: $default-margin/2;
    top: 2px;
  }
}
