@import '~/scss/variables.scss';

.skiplinks {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);

  a {
    position: absolute;
    font-size: 1.2em;
    width: auto;
    min-height: 44px;
    padding: 0.75rem 1rem;
    cursor: pointer;
    color: white;
    background-color: $icon-color;
    text-decoration: none;
    top: -100vh;
    left: -100vw;

    &:focus {
      position: absolute;
      outline: 2px dotted white;
      outline-offset: -2px;
      top: $default-padding;
      left: $default-margin;
    }
  }
}
