@import 'scss/variables.scss';

.linkCard {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: $default-padding;
  border-radius: $default-radius;
  background: $icon-color;
  color: white;

  h3,
  p {
    margin: 0;
    margin-bottom: $default-margin / 4;
  }
}

.linkCardLink {
  display: block;
  text-decoration: none;
  border-radius: $default-radius;

  &:hover {
    h3 {
      text-decoration: underline;
      text-decoration-color: white;
      text-decoration-thickness: 2px;
      text-underline-offset: 3px;
    }
  }

  &:focus {
    outline: 2px dotted white;
    outline-offset: -5px;
  }
}

.linkCardIcon {
  max-width: 4rem;
  margin-right: $default-margin;
}

.linkCardContent {
}

.linkCardArrow {
  width: 1rem;
  height: auto;
  max-height: 1rem;
  display: block;
  margin-left: auto;
}
