@import 'scss/variables.scss';

.notification {
  background: white;
  border-radius: $default-radius;
  padding: 1em;
  overflow: auto;
  margin-top: 2em;

  @media (min-width: 1201px) {
    display: flex;
    align-items: flex-start;
    padding: 2em 2em 1em 2em;
    a {
      flex: 1 0 12em;
    }
  }
}

.textgroup {
  @media (max-width: 1200px) {
    border-bottom: 1px solid #c4c4c4;
    padding-top: 0;
    margin-bottom: 1em;
  }

  @media (min-width: 1201px) {
    border-right: 1px solid #c4c4c4;
    padding-right: 2em;
    margin-right: 2em;
    flex: 1 1 auto;
  }
}

.header {
  font-size: 1.125em;
  font-weight: bold;
  margin: 0;
}

.link {
  color: $text-color-active;
  display: flex;
  align-items: center;
  margin-right: 1em;

  @media (max-width: 1200px) {
    justify-content: center;
  }

  margin-top: auto;
  margin-bottom: auto;

  svg {
    display: block;
    margin-right: 1em;
    flex: 0 0 auto;
  }
}

.all-numbers {
  padding: 3em 2em 1em;
  margin: 0 -2rem;
  text-align: center;

  @media (min-width: 1000px) {
    display: none;
  }
}

.all-numbers-link {
  background: #01689b;
  color: #fff;
  font-size: 1.3em;
  display: block;
  padding: 1em;
  text-decoration: none;

  &:hover,
  &:focus {
    background: #055880; // #01689b + 20% #000
  }

  @media (min-width: 700px) {
    margin: 0 2rem;
  }
}
