@import 'scss/variables.scss';

.collapseContent {
  margin-bottom: $default-margin;
  padding: 0 $default-padding;

  img {
    margin-bottom: $default-margin;
  }
}

.collapseButton {
  display: block;
  width: 100%;
  padding: 0.5em 0;
  appearance: none;
  background: #fff;
  border: 0;
  border-top: 1px solid #c4c4c4;
  font-family: 'RO Sans', Calibri, sans-serif;
  font-size: 1.125em;
  color: $text-color-active;
  text-align: center;
  cursor: pointer;

  svg {
    width: 1rem;
    height: auto;
    max-height: 0.5rem;
    margin-left: $default-margin / 2;
    transition: all 0.3s ease-out;
  }

  &[aria-expanded='true'] {
    svg {
      margin-left: $default-margin / 2;
      transform: rotate(-180deg);
    }
  }

  &:focus {
    outline: 2px dotted $icon-color;
    outline-offset: -2px;
  }
}
