.legenda {
  margin-top: 0;
  padding-left: 0;
  list-style: none;

  li {
    margin: 1em 0;
    position: relative;
  }

  .legendaItem {
    display: flex;
    flex-direction: row;

    .box {
      width: 40px;
      height: 34px;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 0.5em;
    }
  }
}
