@import 'scss/variables.scss';

.graphContainer {
  display: block;
  box-sizing: border-box;
  border-radius: $default-radius;
  background-color: $graph-col-background;
  margin-bottom: $default-margin;
  padding-top: $default-padding;
  overflow: hidden;

  p {
    margin-top: 0;
    margin-bottom: $default-margin;
  }
}
