@import '../../scss/variables.scss';

.appHeader {
  background-color: #aa004b;
  height: 70px;
  nav {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;

    &:last-child {
      margin-left: auto;
    }

    .navButton {
      display: block;
      font-size: 16px;
      height: 70px;
      line-height: 70px;
      color: $inactive-nav-button-text;
      text-decoration: none;
      padding-left: $default-padding;
      padding-right: $default-padding;
      &.active {
        background-color: $active-nav-button;
        color: $active-nav-button-text;
      }
      &:last-child {
        margin-left: auto;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  .mapCol {
    width: 66%;
  }
  .dataCol {
    width: 34%;
  }
}

@media (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
  }
}
