.legenda {
  padding-left: 0;
  margin-bottom: 1em;

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }

  .escalationInfo {
    margin-bottom: 1em;
  }

  h4 {
    margin-bottom: 1em;
  }
}

.escalationTooltip {
  width: 265px;
  background-color: white;
  border-radius: 2px;
  margin: 0;

  .escalationTooltipHeader {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.2em;

    &::after {
      content: '';
      background-image: url('/images/chevron.svg');
      // match aspect ratio of chevron.svg
      background-size: 0.6em 1.2em;
      height: 1em;
      width: 0.6em;
      display: block;
      position: absolute;
      right: 1em;
      top: 1em;
    }
  }
}

.escalationInfo {
  display: flex;
  flex-direction: row;

  .bubble {
    display: flex;
    width: 3em;
    height: 3em;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }
}
