.legenda {
  padding-left: 0;
  margin-bottom: 1em;

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }

  .escalationInfo {
    margin-bottom: 1em;
  }

  h4 {
    margin-bottom: 1em;
  }
}

.escalationTooltip {
  width: 265px;
  background-color: white;
  border-radius: 2px;
  padding: 0 0.5em 0.5em 0.5em;
  border: 1px solid lightgray;
}

.escalationInfo {
  display: flex;
  flex-direction: row;

  .bubble {
    width: 54px;
    height: 54px;
    margin-right: 0.5em;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.escalationColor1 {
  fill: #fcd603;
  stroke: #fcd603;
}

.escalationColor2 {
  fill: #f79903;
  stroke: #f79903;
}

.escalationColor3 {
  fill: #f45167;
  stroke: #f45167;
}
