@import './variables.scss';

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 100%;
  background: $page-background;
  overflow-anchor: none;
}

#__next {
  position: relative;
  overflow: hidden;
}

img,
svg {
  max-width: 100%;
}

.text-blue {
  color: $icon-color;
}

.kpi {
  display: block;
  font-size: 1.80203rem;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
  margin-top: 1rem;
}

.text-max-width {
  max-width: 20em;
}
