@import './variables.scss';

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 100%;
  background: $page-background;
  overflow-anchor: none;
}

#__next {
  position: relative;
  overflow: hidden;
}

img,
svg {
  max-width: 100%;
}

.text-blue {
  color: $icon-color;
}

.text-light-blue {
  color: #3391cc;
}

.text-dark-blue {
  color: #154273;
}

.kpi {
  display: block;
  font-size: 1.80203rem;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
  margin-top: 1rem;
}

.inline-kpi {
  font-variant-numeric: tabular-nums;
}

.text-max-width {
  max-width: 20em;
}

.ggd-summary {
  h4 {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 1.5em 0 0;

    & + p {
      margin-top: 0;
    }
  }
}
