@import './variables.scss';

.container {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 $default-padding;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
  }
}

.home-content {
  padding: 0 $default-padding;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1em;
}

.home-section {
  padding: ($default-margin * 4) 0;
  border-bottom: 1px solid $icon-color;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border: 0;
  }
}

.masonry-grid {
  display: flex;
  width: auto;
  margin-left: -$default-margin * 2;
}

.masonry-grid-column {
  padding-left: $default-margin * 2; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid-column > .graphContainer,
.masonry-grid-column > .linkCard {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: $default-margin * 2;
}

.metric-article {
  background: white;
  padding: 2em;
  border-radius: 5px;
  margin: 0;
  margin-top: 2rem;
  box-shadow: $box-shadow;
}

/* Remove outline from programatically focussed elements. */
[tabindex='-1'] {
  outline: none;
}

.national-layout {
  display: flex;

  > aside {
    flex-basis: 100%;
  }
  > section {
    background: $page-background;
    padding: 2em;
    flex-basis: 100%;
    padding-top: 3rem;
  }
}

@media (min-width: 1000px) {
  .national-layout > aside {
    flex: 0 0 auto;
    width: 25em;
  }

  .national-layout > section {
    max-width: 80em;
  }
}

.national-aside {
  background: white;
  box-shadow: 3px -1px 5px lightgrey;
  z-index: 2;

  h2 {
    margin: 1rem;
    margin-top: 3rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li:first-of-type a {
      border-top: 2px solid $page-background;
    }

    li a {
      border-bottom: 2px solid $page-background;
    }
  }
}

a.metric-link {
  display: block;
  padding: 1rem;
  border-right: 5px solid transparent;
  color: black;
  text-decoration: none;
  position: relative;

  &:hover,
  &:focus {
    background: $page-background;
  }

  h3 {
    margin-right: 1em;
  }

  &::after {
    content: '';
    background-image: url('/images/chevron.svg');
    background-size: 1.5em 1.5em;
    height: 1.5em;
    width: 1.5em;
    display: block;
    position: absolute;
    right: 1em;
    top: 4em;
  }

  span {
    display: block;
    margin: 0 2.5rem;
  }
}

a.active-metric-link {
  background: $page-background;
  border-right: 5px solid $red;
}


.layout-two-column {
  display: flex;
  flex-direction: column;

  .column-item {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .layout-two-column {
    flex-direction: row;
  }

  .column-item {
    &:first-of-type {
      margin-right: $default-margin;
    }

    &:nth-of-type(2) {
      margin-left: $default-margin;
    }
  }

  .column-item-extra-margin {
    &:first-of-type {
      margin-right: $default-margin * 3;
    }

    &:nth-of-type(2) {
      margin-left: $default-margin * 3;
    }
  }

}
