$page-background: #f3f3f3;
$icon-color: #01689b;

$text-color: #000;
$text-color-grey: #595959;
$text-color-active: $icon-color;

$default-radius: 5px;
$default-margin: 1rem;

$box-shadow: 0 -1px 1px 0 #e5e5e5, 0 1px 1px 0 #e5e5e5, 0 2px 2px 0 #e5e5e5,
  0 4px 4px 0 #e5e5e5, 0 6px 6px 0 #e5e5e5;
