@import '~/scss/variables.scss';

.container {
  padding: 0 $default-padding;
  display: flex;
  justify-content: center;
  max-width: 35rem;
  position: relative;
  display: none;
}

@media screen and (min-width: 960px) {
  .container {
    padding-right: $default-padding * 4;
    padding-left: 38px;
    max-width: 100%;
    max-height: 40rem;
    display: block;
  }
}
.chart-wrapper {
  position: relative;
  top: -9px;
}
