@import '~/scss/variables.scss';

.scalingContainer {
  position: relative;
  padding-bottom: 86%; //(800 / 927)
  width: 100%;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.regio-link {
  path {
    fill: white;
    stroke: $icon-color;
    stroke-width: 0.5;
  }

  &:hover,
  &:active {
    path {
      fill: rgba(1, 104, 155, 0.5);
    }
  }

  &:focus {
    outline: none;
    path {
      stroke: $icon-color;
      stroke-width: 3;
    }
  }
}

.regio-link-selected {
  path {
    fill: $icon-color !important;
    stroke: none;
  }
}

.container {
  padding: 0 $default-padding;
  display: flex;
  justify-content: center;
  max-width: 35rem;
  display: none;
}

@media screen and (min-width: 960px) {
  .container {
    padding-right: $default-padding * 4;
    padding-left: 0;
    max-width: 100%;
    max-height: 40rem;
    display: block;
  }
}
