name: CI

# Run this workflow every time a commit is pushed to master or a pull request is opened against master

on: push

jobs:
  build:
    name: Call Azure Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Azure Pipelines Action
        uses: Azure/pipelines@v1
        with:
          azure-devops-project-url: https://dev.azure.com/${{ secrets.ORGANIZATION_NAME }}/${{ secrets.PROJECT_NAME }}
          azure-pipeline-name: ${{ secrets.AZURE_PIPELINE_NAME }}
          azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
