name: Main

on: pull_request

jobs:
  init:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous workflow
        uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ github.token }}
      # The bahmutov/npm-install uses caching, so by running it already in the
      # init task, the other tasks running in parallel should install quickly.
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
  lint:
    runs-on: ubuntu-latest
    needs: init
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
      - name: Lint code
        run: yarn lint

  compile:
    runs-on: ubuntu-latest
    needs: init
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
      - name: Build common module
        run: yarn workspace @corona-dashboard/common build
      - name: Compile all code
        run: yarn compile

  test:
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
      - name: Build common module
        run: yarn workspace @corona-dashboard/common build
      - run: yarn test:ci
